html {
  background: url("/images/brick_bkg.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: auto;
}

body {
  padding: 2rem 0;
}

main {
  max-width: var(--size-content-3);
  margin: 0 auto;
  padding: 1rem;
  box-shadow: var(--shadow-6);
  background-color: var(--surface-1);
}

h2 {
  margin: 1rem 0;
  font-size: var(--font-size-5);
}

iframe {
  margin: 1rem auto;
}

p {
  margin: 2rem 0;
}

p.lead {
  font-size: var(--font-size-4);
}